{namespace search=KayStrobach\VisualSearch\ViewHelpers}

<f:layout name="Default" />

<f:section name="Title">Benutzer</f:section>

<f:section name="NavigationBar">
    <ul class="nav navbar-nav">
        <li>
            <f:link.action action="new">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Benutzer anlegen
            </f:link.action>
        </li>
    </ul>
</f:section>

<f:section name="Content">
    <f:if condition="{users}">
        <f:then>
            <div class="table-responsive" id="search-result-area">
                    <f:widget.paginate objects="{users}" as="paginatedUsers"
                                       configuration="{itemsPerPage: 20, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 15}">
                        <small class="pull-right">{paginatedUsers -> f:count()} Einträge</small>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Benutzername
                                    </th>
                                    <th>
                                        Institution
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <f:for each="{paginatedUsers}" as="user">
                                    <tr>
                                        <td>
                                            <f:link.action action="edit" arguments="{user:user}">
                                                {user.contact.name.fullName}
                                            </f:link.action>

                                        </td>
                                        <td>
                                            <f:if condition="{user.accounts.0.accountIdentifier}">
                                                <small>
                                                    {user.accounts.0.accountIdentifier}
                                                    <f:if condition="{user.accounts.0.expirationDate}">
                                                        ({user.accounts.0.expirationDate -> f:format.date(format:'d.m.Y H:i')})
                                                    </f:if>
                                                </small>
                                            </f:if>
                                        </td>
                                        <td>
                                            <f:if condition="{user.institution}">
                                                <f:link.action action="edit" controller="institution" arguments="{institution:user.institution}">
                                                    {user.institution.name}
                                                </f:link.action>
                                            </f:if>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                        </table>
                    </f:widget.paginate>
            </div>
        </f:then>
        <f:else>
            <div class="alert alert-info">
                Es gibt leider noch keine Benutzer.
            </div>
        </f:else>
    </f:if>


</f:section>