<div class="form-group">
    <label class="col-xs-9">Straße</label>
    <label class="col-xs-3">Nummer</label>
    <div class="col-xs-9">
        <f:form.textfield property="{prefix}street" class="form-control"/>
    </div>
    <div class="col-xs-3">
        <f:form.textfield property="{prefix}houseNumber" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-9">Adresszusatz</label>
    <label class="col-xs-3">Zimmernummer</label>
    <div class="col-xs-9">
        <f:form.textfield property="{prefix}addressAddon" class="form-control"/>
    </div>
    <div class="col-xs-3">
        <f:form.textfield property="{prefix}roomNumber" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-6">Stadt</label>
    <label class="col-xs-6">Postleitzahl</label>
    <div class="col-xs-6">
        <f:form.textfield property="{prefix}city" class="form-control"/>
    </div>
    <div class="col-xs-6">
        <f:form.textfield property="{prefix}zipCode" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label class="col-xs-12">Land</label>
    <div class="col-xs-12">
        <f:form.textfield property="{prefix}country" class="form-control"/>
    </div>
</div>