<f:form action="updatePassword" object="{account}" objectName="account" class="form-horizontal">
    <!-- Modal -->
    <div class="modal fade" id="password-{account -> f:format.identifier()}" tabindex="-1" role="dialog" aria-labelledby="change password">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Passwort für {account.accountIdentifier} ändern</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newPassword" class="col-sm-5 control-label">neues Passwort</label>
                        <div class="col-sm-7">
                            <div class="input-group passwordfield">
                                <f:form.password  id="newPassword" name="newPassword" class="form-control"  />
                                <span class="input-group-addon passwordDisplayArea" style="display: none;" data-behaviour="clipboard"></span>
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" title="Passwort generieren">
                                    <span class="glyphicon glyphicon-random"></span>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordDuplicate" class="col-sm-5 control-label">neues Passwort bestätigen</label>
                        <div class="col-sm-7">
                            <f:form.password name="newPasswordDuplicate" class="form-control passwordfield-duplicate" />
                            <p class="help-block">
                                Wird nur gespeichert, wenn beide gleich sind und mindestens 6 Zeichen lang.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-success">Ändern</button>
                </div>
            </div>
        </div>
    </div>
</f:form>