<fieldset>
	<legend>Passwort ändern</legend>

	<div class="form-group">
		<label for="newPassword" class="col-sm-4 control-label">neues Passwort</label>
		<div class="col-sm-4">
			<div class="input-group passwordfield">
				<f:form.password  id="newPassword" name="newPassword" class="form-control"  />
				<span class="input-group-addon passwordDisplayArea" style="display: none;" data-behaviour="clipboard"></span>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" title="Passwort generieren">
						<span class="glyphicon glyphicon-random"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="newPasswordDuplicate" class="col-sm-4 control-label">neues Passwort bestätigen</label>
		<div class="col-sm-4">
			<f:form.password name="newPasswordDuplicate" class="form-control passwordfield-duplicate" />
			<p class="help-block">
				Wird nur gespeichert, wenn beide gleich sind und mindestens 6 Zeichen lang.
			</p>
		</div>
	</div>

	<f:form.button type="submit" class="btn btn-success pull-right">
		<span class="glyphicon glyphicon-floppy-disk"></span>
		Passwort ändern
	</f:form.button>
</fieldset>

